* {
	box-sizing: border-box;
}
section {
	display: block;
	float: left;
	width: 100%;
	padding: 0 20px;
}
button {
	margin: 0 5px 5px 0;
	padding: 10px 10px;
	background: none;
	box-shadow: none;
	border: 2px solid blue;
	color: #444;
	font: 600 14px/1.2 Verdana, Arial, sans-serif;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background: blue;
		color: #fff;
	}
}

#drop-grid {
	display: block;
	width: 100%;
	margin: 10px 0 20px 0;
	padding: 0;
}
table#staff {
	display: flex;
	width: 100%;
	thead {
		display: flex;
		tr {
			th {
				display: block;
				height: 40px;
				margin: 10px 30px 0 0;
				padding: 0;
			}
		}
	}
	tbody {
		display: flex;
		position: relative;
		overflow-x: auto;
		overflow-y: hidden;
	}
	tr {
		display: flex;
		flex-direction: column;
		td {
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 30px 10px 0;
			padding: 0;
			border: 1px dotted #000;
		}
	}
}

#draggable-items {
	height: 50px;
	margin: 20px 0;
	.drag-item {
		margin: 0 20px 0 0;
	}
}
.drag-item {
	cursor: pointer;
}

.controls {
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
}

.stanza {
	display: block;
	margin: 30px 0 30px 0;
	hr {
		margin: 0 0 30px 0;
		border: 1px solid #000;
	}
}